<form [formGroup]="form" (ngSubmit)="onSubmit($event)">
  <h4 class="h4 mb20">Информация о доставке</h4>

  <label class="tt-control-label mt20">
    Тип получателя
    <select class="tt-input" formControlName="type">
      <option [value]="receiverType.PERSON">Физическое лицо</option>
      <option [value]="receiverType.LEGAL">Юридическое лицо</option>
    </select>
  </label>

  @if (form.get('type')?.touched && form.get('type')?.hasError('required')) {
    <small class="red-color">Это поле обязательно!</small>
  }

  <label class="tt-control-label mt20">
    Имя
    <input
      class="tt-input"
      type="text"
      placeholder="Введите имя"
      formControlName="name"
    />
  </label>

  @if (form.get('name')?.touched && form.get('name')?.hasError('required')) {
    <small class="red-color">* Это поле обязательно!</small>
  }

  @if (form.controls.type.value === receiverType.PERSON) {
    <label class="tt-control-label mt20">
      Фамилия
      <input
        class="tt-input"
        type="text"
        placeholder="Введите фамилию"
        formControlName="lastName"
      />
    </label>
    @if (
      form.get('lastName')?.touched &&
      form.get('lastName')?.hasError('required')
    ) {
      <small class="red-color">* Это поле обязательно!</small>
    }
  } @else {
    <label class="tt-control-label mt20">
      ИНН
      <input
        class="tt-input"
        type="text"
        placeholder="Введите ИНН"
        formControlName="inn"
      />
    </label>
    @if (form.get('inn')?.touched && form.get('inn')?.hasError('required')) {
      <small class="red-color">* Это поле обязательно!</small>
    }
  }

  <div>
    <h4 class="h6 mt20">Адрес доставки</h4>

    <div class="form-grid" formGroupName="address">
      <label class="tt-control-label mt20">
        Город
        <input
          class="tt-input"
          type="text"
          placeholder="Город"
          formControlName="city"
        />
      </label>

      <label class="tt-control-label mt20">
        Улица
        <input
          class="tt-input"
          type="text"
          placeholder="Улица"
          formControlName="street"
        />
      </label>

      <label class="tt-control-label mt20">
        Дом
        <input
          class="tt-input"
          type="text"
          placeholder="Дом"
          formControlName="building"
        />
      </label>

      <label class="tt-control-label mt20">
        Квартира
        <input
          class="tt-input"
          type="text"
          placeholder="Квартира"
          formControlName="apartment"
        />
      </label>
    </div>
  </div>

  <button class="btn btn-shadow mt20" type="submit">Подтвердить</button>
</form>
