:host {
	display: grid;
	grid-template-columns: 32px 1fr 44px;
	grid-gap: 12px;
	border: 1px solid var(--light-color);
	background: #000;
	padding: 22px 16px;
	border-radius: 2px;
}

.hidden-textarea {
	resize: none;
	background: #000;
	border: none;
	color: var(--light-color);
	border-radius: 2px;
	padding-top: 5px;
	padding-left: 5px;
	font-size: 14px;

	&:hover,
	&:focus-visible {
		outline: 1px solid var(--primary-color);
	}
}

.btn-icon {
	display: grid;
	place-content: center;
	background: var(--primary-color);
	width: 44;
	height: 44px;
	border: none;
	cursor: pointer;
	border: 1px solid #000;
	border-radius: 2px;

	&:hover,
	&:focus-visible {
		border: 2px solid #000;
	}
}

.send-icon {
	width: 14px;
	height: 14px;
}

:host.dashed {
	border: 1px dashed var(--light-color);
}