.profile-page__header {
	display: grid;
	grid-template-columns: 1fr max-content;
	align-items: center;
}

.to-settings-btn {
	display: flex;
	align-items: center;
	gap: 8px;
	text-decoration: none;
	width: max-content;
	height: max-content;
	margin-right: 140px;
}

.to-settings-icon {
	width: 14px;
	height: 14px;
	color: var(--dark-color);
}

.profile-page__body {
	display: grid;
	grid-gap: 64px;
	grid-template-columns: 1fr 340px;
}

.subscribers_wrapper {
	display: flex;
	gap: 6px;
	align-items: center;
}

.subscriber-avatar-btn {
	width: 36px;
	height: 36px;
}

.subscriber-avatar-image{
	width: 36px;
	height: 36px;
	border-radius: 50%;
}

.to-subscriber-search {
	position: relative;
	width: 16px;
	height: 16px;
	background-color: var(--light-color);
	border-radius: 50%;

	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 3px;
		left: 7px;
		width: 2px;
		height: 10px;
		background-color: var(--dark-color);
	}

	&:before {
		transform: rotate(90deg);
	}
}

.profile-card__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  height: min-content;
}